<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectloginlogout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectLogInLogOut">
        <activity
            android:name=".Donkeykick"
            android:exported="false" />
        <activity
            android:name=".day5"
            android:exported="false" />
        <activity
            android:name=".day4"
            android:exported="false" />
        <activity
            android:name=".day3"
            android:exported="false" />
        <activity
            android:name=".day2"
            android:exported="false" />
        <activity
            android:name=".GainWeight"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".StayHealthy"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoseWeight"
            android:exported="false" />
        <activity
            android:name=".Planking"
            android:exported="false" />
        <activity
            android:name=".Squat"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>